In [30]:
import pandas as pd 

filename = "..\data\processed\GVCEH-2022-06-20-tweet-cleaned-sentiment.csv"

df = pd.read_csv(filename)

#print(df.head(5))
print(df.columns)
print(df.shape)

Index(['text', 'scrape_time', 'tweet_id', 'created_at', 'reply_count',
       'quote_count', 'like_count', 'retweet_count', 'geo_full_name', 'geo_id',
       'geo_bbox', 'tweet_coordinate', 'username', 'num_followers',
       'search_keywords', 'search_neighbourhood', 'sentiment', 'score'],
      dtype='object')
(1511, 18)

In [31]:
print(df.sentiment.unique())

['Positive' 'Neutral' 'Negative']

In [32]:
print(df.sentiment.value_counts())

Neutral     651
Negative    494
Positive    366
Name: sentiment, dtype: int64

In [33]:
newdf = df.groupby('sentiment').sample(n=72, random_state=1)

In [34]:
newdf.shape

(216, 18)

In [35]:
newdf.sentiment.value_counts()

Negative    72
Neutral     72
Positive    72
Name: sentiment, dtype: int64

In [36]:
newdf['score_matches'] = ""
newdf['relevant'] = ""
newdf = newdf.sample(frac=1) # shuffle
newdf.head(5)

,text,scrape_time,tweet_id,created_at,reply_count,quote_count,like_count,retweet_count,geo_full_name,geo_id,geo_bbox,tweet_coordinate,username,num_followers,search_keywords,search_neighbourhood,sentiment,score,score_matches,relevant
1150,First time seeing snow in about 15+ years! 20 ...,2022-06-20 13:34:31.708467,1538541575546060800,2022-06-19 15:17:50+00:00,0,0,0,0,NaN,NaN,NaN,NaN,Shambazuva,12736,"Victoria (boys ""and"" girls club south vanouver...",Victoria,Neutral,0.584249,,
1277,"@fordnation @HStefansonMB So, taxpayers are fl...",2022-06-20 13:34:33.255603,1537113790973718532,2022-06-15 16:44:20+00:00,0,0,4,1,NaN,NaN,NaN,NaN,TraceyTrousdal5,1,Victoria (burnside gorge neighbourhood associa...,Victoria,Negative,0.799547,,
123,If anybody on the planet deserves to get paid ...,2022-06-20 13:32:26.967120,1538218150688194560,2022-06-18 17:52:40+00:00,0,0,4,0,NaN,NaN,NaN,NaN,SpencerB_abz,178,(sooke OR gonzales OR foul bay OR the gorge OR...,sooke OR gonzales OR foul bay OR the gorge OR ...,Negative,0.807167,,
289,@tomhunt1988 So this ‘elite’ is not allowed to...,2022-06-20 13:32:40.261787,1537066543284092934,2022-06-15 13:36:35+00:00,0,0,0,0,NaN,NaN,NaN,NaN,ReverendMakeluv,212,(view royal OR harris green OR hillside-quadra...,view royal OR harris green OR hillside-quadra ...,Neutral,0.560878,,
597,Can't wait for tennis camp tomorrow! Reminder:...,2022-06-20 13:33:41.877690,1538506156917899264,2022-06-19 12:57:06+00:00,0,0,8,1,NaN,NaN,NaN,NaN,BrotherTennis,217,(saanich OR uplands OR quadra village OR centr...,saanich OR uplands OR quadra village OR centra...,Positive,0.933474,,

In [37]:
newdf.to_csv('verification.csv', encoding='utf-8')

In [47]:
n = 24 # 216 / 9

for i in range(9):
    tempdf = newdf.iloc[n*i : n*(i+1), :]
    #print(tempdf.shape)
    fname = f"verification-{i}.csv"
    print(fname)
    tempdf.to_csv(fname, encoding='utf-8')

verification-0.csv
verification-1.csv
verification-2.csv
verification-3.csv
verification-4.csv
verification-5.csv
verification-6.csv
verification-7.csv
verification-8.csv