In [15]:
import pandas as pd 

filename = "..\data\processed\GVCEH-2022-06-20-tweet-cleaned-sentiment.csv"

df = pd.read_csv(filename)

#print(df.head(5))
print(df.columns)
print(df.shape)

Index(['text', 'scrape_time', 'tweet_id', 'created_at', 'reply_count',
       'quote_count', 'like_count', 'retweet_count', 'geo_full_name', 'geo_id',
       'geo_bbox', 'tweet_coordinate', 'username', 'num_followers',
       'search_keywords', 'search_neighbourhood', 'sentiment', 'score'],
      dtype='object')
(1511, 18)

In [16]:
print(df.sentiment.unique())

['Positive' 'Neutral' 'Negative']

In [17]:
print(df.sentiment.value_counts())

Neutral     651
Negative    494
Positive    366
Name: sentiment, dtype: int64

In [18]:
newdf = df.groupby('sentiment').sample(n=72, random_state=1)

In [19]:
newdf.shape

(207, 18)

In [20]:
newdf.sentiment.value_counts()

Negative    69
Neutral     69
Positive    69
Name: sentiment, dtype: int64

In [21]:
newdf['score_matches'] = ""
newdf['relevant'] = ""
newdf.head(5)

,text,scrape_time,tweet_id,created_at,reply_count,quote_count,like_count,retweet_count,geo_full_name,geo_id,geo_bbox,tweet_coordinate,username,num_followers,search_keywords,search_neighbourhood,sentiment,score,score_matches,relevant
1059,Trying to get these water balloons ready to th...,2022-06-20 13:34:28.583074,1538206160230154240,2022-06-18 17:05:01+00:00,0,0,0,0,NaN,NaN,NaN,NaN,ward1wilson,5243,Victoria (bc housing OR downtown victoria busi...,Victoria,Negative,0.547680,,
314,"“I’m annoyed, I’m angry.” A woman says her sen...",2022-06-20 13:32:54.265924,1538869285795221504,2022-06-20 13:00:03+00:00,0,0,0,1,NaN,NaN,NaN,NaN,Queen_City_News,41927,(esquimalt OR north park OR millstream OR vict...,esquimalt OR north park OR millstream OR victo...,Negative,0.917478,,
510,@TalktoARYZE Even factoring in self-interest I...,2022-06-20 13:33:33.308604,1537573721719787520,2022-06-16 23:11:56+00:00,2,0,4,0,NaN,NaN,NaN,NaN,HomesForLiving_,941,(saanich OR uplands OR quadra village OR centr...,saanich OR uplands OR quadra village OR centra...,Negative,0.795842,,
615,"sorry. no, i won't be digging a one-meter deep...",2022-06-20 13:33:52.836182,1537233167349710849,2022-06-16 00:38:42+00:00,0,0,0,0,NaN,NaN,NaN,NaN,davidsaidthis,335,(salt spring island OR burnside-gorge OR rock ...,salt spring island OR burnside-gorge OR rock b...,Negative,0.768801,,
1399,I'm pretty f##ckin sure that we should get a W...,2022-06-20 13:37:22.119167,1536488932946620416,2022-06-13 23:21:22+00:00,0,0,4,0,NaN,NaN,NaN,NaN,BeaconHillFolks,1110,(from:beaconhillfolks OR from:housesooke OR fr...,individual,Negative,0.915635,,