In [30]:
# import required module
import os
import pandas as pd

In [12]:
# assign directory
files = []
 
for filename in os.listdir('scraped'):
    f = os.path.join('scraped', filename)
    # checking if it is a file
    if os.path.isfile(f):
        print(f)
        df = pd.read_csv(f)
        files.append(df)

for filename in os.listdir('processed/twitter'):
    f = os.path.join('processed/twitter', filename)
    if os.path.isfile(f) and filename != '.DS_Store':
        print(f)
        df = pd.read_csv(f)
        files.append(df)
        
        
        
# concatenate them all together
result = pd.concat(files, ignore_index=True)

scraped/GVCEH-2022-07-13-tweet-raw.csv
scraped/GVCEH-2022-07-04-tweet-raw.csv
scraped/GVCEH-2022-04-15-tweet-raw.csv
scraped/GVCEH-2022-06-27-tweet-raw.csv
scraped/GVCEH-2022-04-11-tweet-raw.csv
scraped/GVCEH-2022-06-20-tweet-raw.csv
scraped/GVCEH-2022-04-12-tweet-raw.csv
scraped/GVCEH-2022-04-21-tweet-raw.csv
scraped/GVCEH-2022-05-02-tweet-raw.csv
scraped/GVCEH-2022-06-04-tweet-raw.csv
scraped/GVCEH-2022-06-13-tweet-raw.csv
scraped/GVCEH-2022-05-16-tweet-raw.csv
scraped/GVCEH-2022-04-27-tweet-raw.csv
scraped/GVCEH-2022-07-18-tweet-raw.csv
scraped/GVCEH-2022-05-17-tweet-raw.csv
scraped/GVCEH-2022-07-25-tweet-raw.csv
scraped/GVCEH-2022-04-19-tweet-raw.csv
scraped/GVCEH-2022-04-20-tweet-raw.csv
scraped/GVCEH-2022-05-23-tweet-raw.csv
scraped/GVCEH-2022-04-13-tweet-raw.csv
scraped/GVCEH-2022-05-30-tweet-raw.csv
scraped/GVCEH-2022-05-09-tweet-raw.csv
scraped/GVCEH-2022-04-10-tweet-raw.csv
scraped/GVCEH-2022-07-12-tweet-raw.csv
processed/twitter/GVCEH-2022-05-30-tweet-scored.csv
processed/twitter/GVCEH-2022-08-01-tweet-scored.csv
processed/twitter/GVCEH-2022-06-04-tweet-raw.csv
processed/twitter/GVCEH-2022-08-15-tweet-scored.csv
processed/twitter/GVCEH-2022-04-10-tweet-scored.csv
processed/twitter/GVCEH-2022-08-02-tweet-scored.csv
processed/twitter/GVCEH-2022-05-17-tweet-scored.csv
processed/twitter/GVCEH-2022-08-08-tweet-scored.csv
processed/twitter/GVCEH-2022-07-19-tweet-scored.csv
processed/twitter/GVCEH-2022-08-22-tweet-scored.csv
processed/twitter/GVCEH-2022-05-23-tweet-scored.csv
processed/twitter/GVCEH-2022-06-23-tweet-scored.csv
processed/twitter/GVCEH-2022-08-13-tweet-scored.csv

In [13]:
result.head()

,text,scrape_time,tweet_id,created_at,reply_count,quote_count,like_count,retweet_count,geo_full_name,geo_id,...,username,num_followers,search_keywords,search_neighbourhood,Unnamed: 0,geo,sentiment,score,keywords,Unnamed: 0.1
0,“The City of North Vancouver and the Okanagan-...,2022-07-13 14:18:35.411992,1.545817e+18,2022-07-09 17:08:14+00:00,1,0,10,1,NaN,NaN,...,KishoneRoy,1926,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...,NaN,NaN,NaN,NaN,NaN,NaN
1,24 Hours Left - Building Official I - City of...,2022-07-13 14:18:35.412062,1.545667e+18,2022-07-09 07:12:31+00:00,0,0,0,0,NaN,NaN,...,CivicJobs,4010,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...,NaN,NaN,NaN,NaN,NaN,NaN
2,24 Hours Left - Labourer I Parks - City of Co...,2022-07-13 14:18:35.412062,1.545341e+18,2022-07-08 09:35:02+00:00,0,0,0,0,NaN,NaN,...,revdal,4023,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...,NaN,NaN,NaN,NaN,NaN,NaN
3,#99cents! Sidney's father is found dead floati...,2022-07-13 14:18:36.911384,1.547300e+18,2022-07-13 19:20:10+00:00,0,0,0,0,NaN,NaN,...,GoddessFish,11340,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...,NaN,NaN,NaN,NaN,NaN,NaN
4,@DickBenedict @HoopsAnalyst Wicks did play as ...,2022-07-13 14:18:40.601623,1.547280e+18,2022-07-13 17:59:38+00:00,2,0,1,0,NaN,NaN,...,DQuinn1575,63,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [73]:
result['tweet_id']

0       1545817114644123648
1       1545667198085083136
2       1545340675113177088
3       1547299866967248896
4       1547279599725383680
                ...
68617   1558596304376193024
68618   1558533552454508544
68619   1558335917588242432
68620   1556868384251203584
68621   1556868385840906240
Name: tweet_id, Length: 68622, dtype: float64

In [74]:
results_cleaned = result[["text", "scrape_time", "tweet_id", "created_at", "reply_count", "quote_count",
               "like_count", "retweet_count", "geo_full_name", "geo_id", "username", "num_followers",
               "search_keywords", "search_neighbourhood"]]
results_cleaned.head()

,text,scrape_time,tweet_id,created_at,reply_count,quote_count,like_count,retweet_count,geo_full_name,geo_id,username,num_followers,search_keywords,search_neighbourhood
0,“The City of North Vancouver and the Okanagan-...,2022-07-13 14:18:35.411992,1545817114644123648,2022-07-09 17:08:14+00:00,1,0,10,1,NaN,NaN,KishoneRoy,1926,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
1,24 Hours Left - Building Official I - City of...,2022-07-13 14:18:35.412062,1545667198085083136,2022-07-09 07:12:31+00:00,0,0,0,0,NaN,NaN,CivicJobs,4010,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
2,24 Hours Left - Labourer I Parks - City of Co...,2022-07-13 14:18:35.412062,1545340675113177088,2022-07-08 09:35:02+00:00,0,0,0,0,NaN,NaN,revdal,4023,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
3,#99cents! Sidney's father is found dead floati...,2022-07-13 14:18:36.911384,1547299866967248896,2022-07-13 19:20:10+00:00,0,0,0,0,NaN,NaN,GoddessFish,11340,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
4,@DickBenedict @HoopsAnalyst Wicks did play as ...,2022-07-13 14:18:40.601623,1547279599725383680,2022-07-13 17:59:38+00:00,2,0,1,0,NaN,NaN,DQuinn1575,63,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...

In [75]:
results_cleaned.shape

(68622, 14)

In [76]:
results_cleaned_dedupe = results_cleaned.drop_duplicates(subset='tweet_id', keep="last")
results_cleaned_dedupe.shape

(32675, 14)

In [77]:
results_cleaned_dedupe.head()

,text,scrape_time,tweet_id,created_at,reply_count,quote_count,like_count,retweet_count,geo_full_name,geo_id,username,num_followers,search_keywords,search_neighbourhood
42,#99cents! Sidney's father is found dead floati...,2022-07-13 14:35:21.762659,1547299866967248896,2022-07-13 19:20:10+00:00,0,0,0,0,NaN,NaN,GoddessFish,11340,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
44,@RonFilipkowski Sidney Powell was obviously an...,2022-07-13 14:35:21.762659,1547248351384674304,2022-07-13 15:55:28+00:00,0,0,0,0,NaN,NaN,timelock16,2112,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
45,#99cents! Sidney's father is found dead floati...,2022-07-13 14:35:21.762659,1547239481958453248,2022-07-13 15:20:13+00:00,0,0,0,0,NaN,NaN,stanbecker603,96,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
47,#99cents! Sidney's father is found dead floati...,2022-07-13 14:35:21.762659,1547185737090703360,2022-07-13 11:46:39+00:00,0,0,0,0,NaN,NaN,NYwonk347,137,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
48,#99cents Sidney's father is found dead floatin...,2022-07-13 14:35:21.762659,1547051951266959360,2022-07-13 02:55:02+00:00,0,1,1,2,NaN,NaN,PlantBasedClean,86,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...

In [112]:
# cleaning logic 

### exclude list
bad_words = ["Trump", "Cuomo", "SF", "NYC"]

for bad in bad_words:
    df = results_cleaned_dedupe[~results_cleaned_dedupe["text"].str.lower().str.contains(bad.lower())]

In [113]:
df_final = df[df['scrape_time'] < '2022-08-21']
df_final.shape

(30039, 14)

In [114]:
df_final['created_at'].min()

'2022-04-03 20:45:36+00:00'

In [115]:
df_final = df_final[df_final['tweet_id'] != 1534617861154435072]
df_final = df_final[df_final['tweet_id'] != 1544376875362893824]

In [116]:
df_final.shape

(30037, 14)

In [119]:
df_final.head()

,text,scrape_time,tweet_id,created_at,reply_count,quote_count,like_count,retweet_count,geo_full_name,geo_id,username,num_followers,search_keywords,search_neighbourhood
42,#99cents! Sidney's father is found dead floati...,2022-07-13 14:35:21.762659,1547299866967248896,2022-07-13 19:20:10+00:00,0,0,0,0,NaN,NaN,GoddessFish,11340,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
44,@RonFilipkowski Sidney Powell was obviously an...,2022-07-13 14:35:21.762659,1547248351384674304,2022-07-13 15:55:28+00:00,0,0,0,0,NaN,NaN,timelock16,2112,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
45,#99cents! Sidney's father is found dead floati...,2022-07-13 14:35:21.762659,1547239481958453248,2022-07-13 15:20:13+00:00,0,0,0,0,NaN,NaN,stanbecker603,96,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
47,#99cents! Sidney's father is found dead floati...,2022-07-13 14:35:21.762659,1547185737090703360,2022-07-13 11:46:39+00:00,0,0,0,0,NaN,NaN,NYwonk347,137,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...
48,#99cents Sidney's father is found dead floatin...,2022-07-13 14:35:21.762659,1547051951266959360,2022-07-13 02:55:02+00:00,0,1,1,2,NaN,NaN,PlantBasedClean,86,(colwood OR sidney OR cook street village OR r...,colwood OR sidney OR cook street village OR ro...

In [118]:
df_final.to_csv('GVCEH-tweets-combined_2022-04-03.csv', encoding='utf-8', float_format='%.0f')